<!DOCTYPE html>
<html>
<head>
	<title><%= name %></title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/chatbox.css">
	<script src="/javascripts/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="./javascripts/box.js" ></script>
	
</head>
<body>
 <div class="one">
    <div id="box" class="two">
    	
    </div>
    
    	<textarea name="message" id="mess" placeholder="Write something . . ."></textarea>
   
         
 	     <button  class="load success" id="button" name="mess">Send</button>
 	 

 	
 </div>
</body>
</html>